@import 'bourbon';
@import 'neat';

@mixin ctaButton {
  position: relative;
  font-family: $font;
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0;
  padding: .78571429em 1.5em;
  line-height: 1em;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  background: $red;
  color: $white;
  outline-width: 0;
  width: auto;
}

@mixin sudoLine($height, $color) {
  content: '';
  display: block;
  height: $height;
  width: 100%;
  position: absolute;
  left: 0;
  background: $color;
}

@mixin hvalign {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}

@mixin valign {
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin halign {
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin ul {
  list-style-type: none;
  padding: 0;
}
